* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "HankenGrotesk-VariableFont_wght";
  src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

@font-face {
  font-family: "HankenGrotesk-Bold";
  src: url(assets/fonts/static/HankenGrotesk-Bold.ttf);
}

body {
  font-family: "HankenGrotesk-VariableFont_wght", Arial, Helvetica, sans-serif;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  box-shadow: 10px 10px 20px hsl(221, 100%, 96%);
}

.box1 {
  width: 50%;
  height: 100%;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.box1 h1 {
  padding: 10px 0 0 0;
  font-size: 18px;
  color: hsl(241, 100%, 89%);
}

.circle {
  width: 110px;
  height: 110px;
  background: radial-gradient(hsla(241, 72%, 46%, 0), hsla(256, 72%, 46%, 1));
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 100%;
}

.number {
  font-size: 40px;
  font-family: "HankenGrotesk-Bold", Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 100%);
}

.range {
  color: hsl(241, 100%, 89%);
  font-size: 12px;
}

.box1 h2 {
  color: hsl(0, 0%, 100%);
}

.box1 .parrafo {
  font-size: 12px;
  padding: 0 18px;
  margin-bottom: 20px;
  color: hsl(241, 100%, 89%);
}

.box2 {
  width: 50%;
  height: 100%;
  background: hsl(0, 0%, 100%);
  border-radius: 20px;
}

.container-box2 {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-box2 div h1 {
  font-size: 18px;
  padding: 10px 10px 10px 0;
}

.tests {
  width: 93%;
  height: 20px;
  background: grey;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 8px;
  border-radius: 8px;
}

.tests div {
  display: flex;
}

.point {
  color: hsl(224, 30%, 27%);
}

.reaction-container {
  background-color: hsla(0, 100%, 67%, 0.1);
}

.reaction {
  color: hsl(0, 100%, 67%);
}

.memory-container {
  background-color: hsla(39, 100%, 56%, 0.1);
}

.memory {
  color: hsl(39, 100%, 56%);
}

.verbal-container {
  background-color: hsla(166, 100%, 37%, 0.1);
}

.verbal {
  color: hsl(166, 100%, 37%);
}

.visual-container {
  background-color: hsla(234, 85%, 45%, 0.1);
}

.visual {
  color: hsl(234, 85%, 45%);
}

.button {
  height: 30px;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 30px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(0, 0%, 100%);
  margin-top: 10%;
  font-size: 12px;
}

.button:hover {
  cursor: pointer;
  background: linear-gradient(hsl(241, 81%, 54%), hsl(252, 100%, 67%));
}

@media screen and (max-width:412px) {
    body {
      width: 100%;
      height: 100%;/* Este es el tamaño del Iphone SE */
    }

    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
    }

    .box1 {
      width: 100%;
      height: 45%;
      border-radius: 0 0 20px 20px;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

    .parrafo {
      width: 52%;
      margin: 0px;
    }

    .box2 {
      width: 100%;
      height: 55%;
    }

    .button {
      height: 35px;
    }
    
}