* {
  margin: 0;
  padding: 0;
}

body {
  height: 500px;
  display: flex;
  justify-content: center;
  background-color: hsl(212, 45%, 89%);
}

.container {
  width: 260px;
  height: 400px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* El primer valor del box-shadow es en el eje x (derecha +, izquierda-), el 2do valor es el
  eje y (abajo +, arriba -), el cuarto valor indica el blur con que se ejecutará y el 4to valor
  es el color que se dará a la sombra */
  box-shadow: 10px 10px 50px hsl(220, 3%, 65%);
  margin: auto;
}

.img {
  width: 236px;
  height: 238px;
  position: relative;
  display: inline-block;
  margin: 12px 12px;
}

img {
  width: 236px;
  height: 238px;
  border-radius: 10px;
}

.text1 {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 0 25px;
  color: hsl(218, 44%, 22%);
}

.text2 {
  font-family: "Outfit", sans-serif;
  margin-top: 10px;
  font-size: 13px;
  padding: 0 15px;
  color: hsl(220, 15%, 55%);
}

@media screen and (max-width: 375px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 50px 50px;
  }
}
